{{page-title "Files"}}

<ul>
  {{#each @model as |file|}}
    <li>
      {{file.name}} <small>{{file.id}}</small>
      <button type="button" {{on "click" (fn this.removeFile file)}}>Remove</button>
    </li>
  {{/each}}
</ul>

<PnFileUpload />

{{outlet}}