{{page-title "Files"}}

<ul>
  {{#each @model as |file|}}
    <li>
      <small>File ID: <a href={{file.downloadLink}} download>{{file.id}}</a></small><br />
      <ul>
        <li><a href={{file.namedDownloadLink}} download>{{file.name}}</a></li>
      </ul>
      <button type="button" {{on "click" (fn this.removeFile file)}}>Remove</button>
    </li>
  {{/each}}
</ul>

<PnFileUpload />

{{outlet}}