{{page-title "IndividualProducts"}}

<ul>
  {{#each @model as |individualProduct|}}
    <li>
      Serial number: {{individualProduct.serialNumber}}<br />
      Product name: {{individualProduct.name}}<br />
      ID: <small>{{individualProduct.id}}</small>
      <button type="button" {{on "click" (fn this.removeIndividualProduct individualProduct)}}>Remove</button>
    </li>
  {{/each}}
</ul>

<hr />
<form {{on "submit" this.createIndividualProduct}} >
  <dl>
    <dt><label for="individual-product-serial-number">
      Serial number
    </label></dt>
    <dd>
      <Input
        id="individual-product-serial-number"
        @value={{this.newSerialNumber}}
        placeholder="1234567890"
      />
    </dd>
    <dt><label for="individual-product-name">
      Name
    </label></dt>
    <dd>
      <Input
        id="individual-product-name"
        @value={{this.newName}}
        placeholder="Frontier OLCF-5"
      />
    </dd>
  </dl>
  <button type="submit">Create</button>
</form>

{{outlet}}