{{page-title "People"}}

<ul>
  {{#each @model as |person|}}
    <li>
      {{person.name}} <small>{{person.id}}</small>
      <button type="button" {{on "click" (fn this.removePerson person)}}>Remove</button>
    </li>
  {{/each}}
</ul>

<hr />
<form {{on "submit" this.createPerson}} >
  <dl>
    <dt><label for="person-name">
      Person name
    </label></dt>
    <dd>
      <Input
        id="person-name"
        @value={{this.newName}}
        placeholder="Grace"
      />
    </dd>
  </dl>
  <button type="submit">Create</button>
</form>

{{outlet}}