{{page-title "Transactions"}}

<ul>
  {{#each @model as |transaction|}}
    <li>
      <small>Transaction ID: {{transaction.id}}</small><br />
      <ul>
        <li>Datetime: {{transaction.datetime}}</li>
        <li>New owner:<br />
          {{transaction.newOwner}}<br />
          {{transaction.newOwner.id}}<br />
          {{transaction.newOwner.name}}
        </li>
      </ul>
      <button type="button" {{on "click" (fn this.removeTransaction transaction)}}>Remove</button>
    </li>
  {{/each}}
</ul>

<hr />
<form {{on "submit" this.createTransaction}} >
  <dl>
    <dt>Date and time</dt>
    <dd>
       <Input @value={{this.newTransactionDatetime}}
              placeholder="20230101T0000Z" />
    </dd>
    <dt>New owner ID</dt>
    <dd>
       <Input @value={{this.newOwner}}
              placeholder="64A68A6AB3020C92BA8D9DE4" />
    </dd>
  </dl>
  <button type="submit">Create</button>
</form>

{{outlet}}